<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Princial</title>
    <link rel="stylesheet" th:href="@{/css/principal_page1.css}">

</head>

<body>
    <div id="contenedor">
        <div class="fila">
            <div id="cabecera">
                <img th:src="@{/img/logo_7.png}" alt="Logo del proyecto" width="700">
            </div>
        </div>
        <div class="fila">
            <div id="info">
                <ul>
                    <li> <a href="#">Empleado</a></li>
                    <li> <a href="#">Salir</a></li>
                </ul>

            </div>
            <div id="titulo">
                <p>Lenguaje de programacion</p>
                <p>Lenguaje de programacion</p>
                <p>Lenguaje de programacion</p>
                <p>Lenguaje de programacion</p>
                <p>Lenguaje de programacion</p>
            </div>
        </div>
        <div class="fila">
            <div id="menu">
                <ul>
                    <li><a href="#">Gestión de papeleta</a></li>
                    <li><a href="#">Listado</a></li>
                    <li><a href="#">Nueva Papeleta</a></li>
                    <li><a href="#">Acciones</a></li>
                    <li><a href="#">Usuario</a></li>
                </ul>
            </div>
            <div id="contenido">

            </div>
        </div>
        <div class="fila">
            <div id="pie">
                <p>Universidad Cientifica del Sur - Facultad de Ingenieria de Sistemas Empresariales</p>

            </div>
        </div>
    </div>
</body>

</html>